* {
    font-size: 12px;
    font-family: "JetBrainsMono";
  }
  
  #waybar {
    background: transparent;
  }
  
  #cpu,
  #memory,
  #temperature,   
  #battery,
  #network,
  #tray,
  #custom-vpn,
  #language,
  #clock {
    margin: 6px 0 0 6px;
    border-radius: 8px;
    color: #88c0d0;
    background: #3b4252;
    transition: none;
    padding: 6px 12px;
  }
  #tray,
  #custom-vpn,
  #language,
  #clock {
    margin: 6px 6px 0 0;
  }
  #custom-vpn.off {
    color: #4c566a; 
  }
  
  #workspaces {
    margin: 6px 6px 0;
    padding: 3px 10px;
    border-radius: 8px;
    transition: none;
    background: #3b4252;
  }
  #workspaces button {
    transition: none;
    color: #4c566a;
    background: transparent;
    border-radius: 8px;
    padding: 3px;
    border: none;
  }
  #workspaces button.active {
    color: #81a1c1;
  } 
  #workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #81a1c1;
    background-color: #434c5e;
  }
  
  #battery.critical:not(.charging) {
    background-color: #d8dee9;
    color: #2e3440;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes blink {
    to {
      background-color: #bf616a;
      color: #d8dee9;
    }
  }
